<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - AI Document Summarization</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newBack.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>AI-Powered Document Summarization System</h1>
            <div style="height: 20px;"></div> 
            {% include 'navbar.html' %}
        </header>
        <main>
            <!-- Existing content -->
            <section class="center-content">
                <!-- <h2>Welcome to the AI-Powered Document Summarization System</h2> -->
                <p>Summarize your documents quickly and efficiently with our advanced AI technology.</p>
                <a href="/summarization" class="cta-button">Try the Summarizer Now!</a>
            </section>
        </main>
    </div>
</body>
</html>