<nav>
    <ul>
        <li><a href="/" class="{{ 'active' if active_page == 'home' else '' }}">Home</a></li>
        <li><a href="/summarization" class="{{ 'active' if active_page == 'summarization' else '' }}">Summarization</a></li>
        <li><a href="/visualization" class="{{ 'active' if active_page == 'visualization' else '' }}">Visualization</a></li>
        <li><a href="/about" class="{{ 'active' if active_page == 'about' else '' }}">About Project</a></li>
        <li><a href="/research" class="{{ 'active' if active_page == 'research' else '' }}">Research</a></li>
    </ul>
</nav>